.focus {
    width: 100%;
    padding: 10px;
    // height:3.8rem;
    background: url('https://image.watsons.com.cn//upload/e2f98437.jpg') no-repeat;
    .ant-carousel .slick-slide {
        text-align: center;
        height: 135px;
        line-height: 160px;
        overflow: hidden;
      }
}
.carousel img {
    width: 100%;
}

.swiper-slide img{width:100%;}