.aways {
    width: 100%;
    .awaysLike {
        width: 100%;
        padding-left: .4rem;
        height: .8rem;
        line-height: .8rem;
        font-size: .32rem;
        background: white;
    }
    .awaysLikeList {
        width: 100%;
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        .awaysLikeItem {
            height: 2.46667rem;
            width: 2.5rem;
            padding: 5% 0 2% 0;
            border: 1px solid #F4F4F4;
            background: white;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            >img {
                width: 35%;
            }
        }
    }
}