.goodsList {
    width: 100%;
    height: 100%;
    .topImg img{
        width: 100%;
    }
    .headTitle {
        top: 0;
        left: 0;
        right: 0;
        z-index: 40;
        height: 46px;
        margin: 0;
        font-size: 16px;
        background: #FAFAFA;
        border-bottom: 1px solid #eeebeb;
        border-top: 1px solid #eeebeb;
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        li {
            flex: 1;
            height: 100%;
            text-align: center;
            line-height: 46px;
        }
        .activeList {
            color: black;
            border-bottom: 3px solid #4AD0B9;
        }
    }
    .listTitle {
        top: 0;
        left: 0;
        right: 0;
        z-index: 50;
        width: 100%;
        height: 44px;
        background: white;
        border-bottom:  1px solid #eeebeb;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        >span {
            display: flex;
            font-size: 20px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            img {
                width: 50%;
            }
        }
        span:nth-child(1){
            flex: 1;
        }
        span:nth-child(2){
            flex: 5;
            margin-right: 14%;
            font-weight: 500;
        }
    }
    .listContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .xmjItem:nth-child(2n-1){
            border-right: 1px solid  #E1E1E1;
        }
        .xmjItem {
            width: 50%;
            padding: 2%;
            background: white;
            border-bottom: 1px solid #E1E1E1;
           div {
               margin-top: 5px;
           }
            img {
                width: 100%;
            }
            .itemImg {
                position: relative;
                .gift {

                    position: absolute;
                    bottom: 0;
                    display: flex;
                    color: white;
                    >span{
                        background: #FF6692;
                        border-radius: 3px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        white-space: nowrap;
                        -webkit-box-orient: horizontal;
                    }
                    >span:nth-child(2){
                        margin-left: 5px;
                    }
                }
            }
            .salePoint {
                width: 100%;
                height: 18px;
                font-size: 13px;
                color: black;
            }
            .itemSpecial {
                height: 15px;
                color: #FF6692;
                line-height: 15px;
            }
            .itemPrice {
                width: 100%;
                height: 25px;
                font-size: 16px;
                color: #ff6692;
                font-weight: bold;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                >span:nth-child(1){
                    flex: 4;
                }
                .toCart{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    span{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        flex: 1;
                        background: url('https://asset.watsons.com.cn/topic/static/2ad3fd35dd5989062dacdda8dec5055b.png') 90% no-repeat;
                        background-size: 17%;
                    }
                }
            }
            .itemName {
                height: 20px;
                color: #828181;
                overflow: hidden;
                >span{
                    height: 100%;
                    overflow: hidden;
                }
            }
        }
    }
    .loading,.loadAll {
        font-size: 16px;
        text-align: center;
    }
}